//====================================================================================================

.page {
	background: url('@img/main-bg/bg-ps1.png') center / cover no-repeat fixed;

	&__main-block {
	}

	// .page__main-catalog
	&__main-catalog {
	}

	// .page__advantages
	&__advantages {
		background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.4) 0%,
			rgba(255, 255, 255, 0) 100%
		);
	}

	// .page__conditions
	&__conditions {
		background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.4) 0%,
			rgba(255, 255, 255, 0) 100%
		);
	}

	// .page__reviews
	&__reviews {
		background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.4) 0%,
			rgba(255, 255, 255, 0) 100%
		);
	}

	// .page__contacts
	&__contacts {
		background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.4) 0%,
			rgba(255, 255, 255, 0) 100%
		);
	}
}

.main-block {
	background: url('@img/main-bg/4kbg.png') center/ cover no-repeat;
	min-height: 100vh;
	@include adaptiveValue('padding-top', 200, 100);

	// .main-block__container
	&__container {
	}

	// .main-block__body
	&__body {
		max-width: 75%;
		padding: rem(20);
		backdrop-filter: blur(rem(15));
		border: 2px solid rgba(255, 255, 255, 0.5);
		border-radius: rem(20);
		background-color: rgba(0, 0, 0, 0.3);

		@media (max-width: $mobile) {
			max-width: 100%;
		}
	}

	// .main-block__lable
	&__lable {
		@include adaptiveValue('font-size', 22, 14);
		font-weight: 500;
		line-height: math.div(24, 22);

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 15, 10);
		}
	}

	// .main-block__title
	&__title {
		@include adaptiveValue('font-size', 50, 24);
		font-weight: 700;
		line-height: math.div(52, 50);

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 30, 15);
		}
	}

	// .main-block__text
	&__text {
		@include adaptiveValue('font-size', 20, 14);
		font-weight: 500;
		line-height: math.div(22, 20);

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 40, 20);
		}
	}

	// .main-block__button
	&__button {
	}

	// .main-block__image
	&__image-ibg_contain {
		flex: 1 1 50%;
		padding-bottom: rem(500);

		img {
			// padding-bottom: rem(500);
		}
	}
}

//====================================================================================================

.catalog-main {
	&:not(:last-child) {
		@include adaptiveValue('margin-bottom', 60, 20);
	}

	// .catalog-main__container
	&__container {
	}

	// .catalog-main__title
	&__title {
		@include adaptiveValue('margin-top', 60, 30);
		@include adaptiveValue('font-size', 46, 22);
		font-weight: 700;
		line-height: math.div(52, 50);

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 60, 20);
		}
	}

	// .catalog-main__tabs
	&__tabs {
	}
}

.tabs-main-catalog {
	padding: rem(20);
	backdrop-filter: blur(rem(15));
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: rem(20);
	background-color: rgba(0, 0, 0, 0.3);
	@include adaptiveValue('padding', 30, 5);

	// .tabs-main-catalog__navigation
	&__navigation {
	}

	// .tabs-main-catalog__title
	&__title {
	}

	// .tabs-main-catalog__content
	&__content {
	}

	// .tabs-main-catalog__body
	&__body {
	}

	// .tabs-main-catalog__products
	&__products {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
		gap: rem(15);
		@media (max-width: $tablet) {
			grid-template-columns: repeat(auto-fit, minmax(rem(200), 1fr));
		}
		@media (max-width: $mobileSmall) {
			grid-template-columns: 1fr 1fr;
		}
	}
}

//====================================================================================================

.advantages-block {
	// .advantages-block__container
	&__container {
		backdrop-filter: blur(0.9375rem);
		border-top: 2px solid rgba(255, 255, 255, 0.5);
		border-bottom: 2px solid rgba(255, 255, 255, 0.5);
		background-color: rgba(0, 0, 0, 0.3);
	}

	// .advantages-block__wraper
	&__wraper {
	}

	// .advantages-block__title
	&__title {
		padding-top: rem(30);
		@include adaptiveValue('margin-bottom', 60, 30);
	}

	// .advantages-block__items
	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 0.625rem;
		padding-bottom: 0.9375rem;

		@media (max-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	// .advantages-block__item
	&__item {
	}
}

.item-advantages {
	// .item-advantages__icon
	&__icon {
		font-size: 3.125rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: rem(7);
	}

	// .item-advantages__title
	&__title {
	}

	// .item-advantages__text
	&__text {
	}
}

//========================================================================================================================================================

.conditions-block {
	// .conditions-block__container
	&__container {
	}

	// .conditions-block__wraper
	&__wraper {
	}

	// .conditions-block__title
	&__title {
		@include adaptiveValue('padding-top', 60, 30);
		@include adaptiveValue('margin-bottom', 60, 30);
	}

	// .conditions-block__body
	&__body {
		border: 2px solid rgba(255, 255, 255, 0.5);
		border-radius: 1.25rem;
		background-color: rgba(0, 0, 0, 0.3);
		backdrop-filter: blur(0.9375rem);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-bottom: 0.9375rem;
	}

	// .conditions-block__items
	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 0.9375rem;
		justify-content: center;
		padding: 1.25rem;

		@media (max-width: $tablet) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	// .conditions-block__item
	&__item {
	}

	// .conditions-block__button
	&__button {
		display: flex;
		flex-direction: row-reverse;
		gap: 0.9375rem;
	}
}

.item-conditions {
	flex: 1 1 auto;

	// .item-conditions__image-ibg_contain
	&__image-ibg_contain {
		padding-bottom: 9.375rem;
	}

	// .item-conditions__title
	&__title {
	}

	// .item-conditions__text
	&__text {
	}
}

//========================================================================================================================================================

.reviews-block {
	@include adaptiveValue('margin-top', 60, 30);

	backdrop-filter: blur(0.9375rem);
	border-top: 2px solid rgba(255, 255, 255, 0.5);
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
	background-color: rgba(0, 0, 0, 0.3);

	// .reviews-block__container
	&__container {
	}

	// .reviews-block__title
	&__title {
		@include adaptiveValue('margin-bottom', 60, 30);
		@include adaptiveValue('padding-top', 60, 30);
	}

	// .reviews-block__slider
	&__slider {
		position: relative;
	}

	// .reviews-block__wrapper
	&__wrapper {
	}

	// .reviews-block__slide
	&__slide {
	}

	// .reviews-block__pagination
	&__pagination {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 10px;
		text-align: center;
		transition: 0.3s opacity;
		transform: translate3d(0, 0, 0);
		z-index: 10;
	}

	// .reviews-block__button-prev
	&__button-prev {
		position: absolute;
		top: 50%;
		width: calc(var(--swiper-navigation-size) / 44 * 27);
		height: var(--swiper-navigation-size);
		margin-top: calc(0px - var(--swiper-navigation-size) / 2);
		z-index: 10;
		cursor: pointer;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--swiper-navigation-color, var(--swiper-theme-color));
	}

	// .reviews-block__button-next
	&__button-next {
		position: absolute;
		top: 50%;
		width: calc(var(--swiper-navigation-size) / 44 * 27);
		height: var(--swiper-navigation-size);
		margin-top: calc(0px - var(--swiper-navigation-size) / 2);
		z-index: 10;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--swiper-navigation-color, var(--swiper-theme-color));
	}
}

.slide-reviews {
	// .slide-reviews__wraper
	&__wraper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	// .slide-reviews__image
	&__image {
		position: relative;
		width: 12.5rem;
		height: 12.5rem;
		overflow: hidden;
		border-radius: 31.25rem;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: contain;
		}
	}

	// .slide-reviews__text
	&__text {
		padding-top: 0.9375rem;
		padding-bottom: 1.25rem;
		max-width: 65%;
	}
}

//========================================================================================================================================================
.page {
	// .page__contacts
	&__contacts {
	}

	iframe {
		width: 50%;
		min-height: 100%;

		@media (max-width: $mobile) {
			width: 100%;

			height: rem(400);
		}
	}
}

.contacts-block {
	@include adaptiveValue('padding-bottom', 60, 30);
	@include adaptiveValue('padding-top', 60, 30);

	// .contacts-block__container
	&__container {
	}

	// .contacts-block__wrapper
	&__wrapper {
		border: 2px solid rgba(255, 255, 255, 0.5);
		border-radius: 1.25rem;
		background-color: rgba(0, 0, 0, 0.3);
		backdrop-filter: blur(0.9375rem);

		&_page {
			border: 2px solid rgba(255, 255, 255, 0.5);
			border-radius: 1.25rem;
			background-color: rgba(0, 0, 0, 0.3);
			backdrop-filter: blur(0.9375rem);
			margin-top: rem(50);
			padding: rem(20);
		}
	}

	// .contacts-block__title
	&__title {
		@include adaptiveValue('margin-bottom', 60, 30);
		@include adaptiveValue('margin-top', 60, 30);

		&_m0 {
			@include adaptiveValue('padding-bottom', 60, 30);
		}
	}

	// .contacts-block__body
	&__body {
		display: flex;
		gap: rem(15);
		padding: rem(10);

		@media (max-width: $mobile) {
			flex-direction: column-reverse;
		}
	}

	// .contacts-block__content
	&__content {
	}

	// .contacts-block__subtitle
	&__subtitle {
		text-align: left;
	}

	// .contacts-block__text
	&__text {
		display: flex;
		// justify-content: space-around;
		// align-items: center;
		font-size: rem(20);
		font-weight: 500;
		padding-bottom: rem(20);
		position: relative;

		// .contacts-block__text_social
		&_social {
			font-size: rem(26);
			padding-bottom: rem(0);

			span {
				&::before {
					padding: rem(10);
				}
			}
		}
	}
}
